body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    white-space: pre-line;
    /* border: 1px solid black; */
}

#container {
    display: flex;
    flex-direction: row;
}

#leftSide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    flex-direction: column;
}

#buttons {
    margin: 20vh auto auto;
    
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
    /* padding: vh 0; */
    align-items: center;
    justify-content: space-evenly;
    /* border: none; */
    order: 1;
}

#scores {
    margin: auto auto 15vh;
    font-size: 2em;
    order: 2;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.sides {
    width: 50%;
    height: 100vh;
}

button {
    width: 15vw;
    padding: 5px;
    font-size: 1.6em;
    border-radius: 8px;
    /* border: 2px solid #012b00; */
    background-color: #026600;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
    text-align: center;
    margin: 0;
}

#outcomes {
    margin-left: 2vw;
    font-family: 'Roboto Mono', monospace;
}